# Limpieza y Preparaci칩n de datos de adopciones
Este notebook contiene los pasos para inspeccionar, limpiar y preparar el dataset de adoptantes.

#### 칈ndice del notebook: Limpieza y Preparaci칩n de Datos

##### 1. Inspecci칩n general del dataset
- 1.1. Informaci칩n general del dataset  
- 1.2. Caracter칤sticas de las columnas  
  - 1.2.1. Tipo de datos
  - 1.2.2. Valores nulos
  - 1.2.3. Valores 칰nicos por columna  
  - 1.2.4. Valores duplicados
  - 1.2.5. Posibles errores ortogr치ficos o inconsistencias de formato  
  - 1.2.6. Estad칤sticas y observaciones relevantes  

  
##### 2. Correcciones y transformaci칩n
- 2.1. A침adir un ID 칰nico  
- 2.2. Limpieza general de texto  
- 2.3. Limpieza espec칤fica  
  - 2.3.1. Limpieza de la columna 'fecha'
  - 2.3.2. Corregir fallos ortograficos en 'poblacion' & 'provincia'  
- 2.4. Clasificaci칩n y transformaci칩n de variables  
  - 2.4.1. Clasificar columna 'animal'  
  - 2.4.2. Agrupar 'tiempo_disponible' en rangos  
  - 2.4.3. Distribuci칩n por tipo de 'vivienda'  
  - 2.4.4. Agrupar rangos de 'edad'
  - 2.4.5. Distribuci칩n por 'horario_laboral'  
  - 2.4.6. Normalizar 'genero'  
  - 2.4.7. Distribuci칩n por 'experiencia_animales'  
  - 2.4.8. Normalizar variables de adopci칩n 'devuelto'  
- 2.5. Revisi칩n final  

  

##### 3. Guardado del dataset limpio

-------------------------------------------------------------------------------

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

# Ruta al archivo en Drive
ruta = '/content/drive/MyDrive/Dataset_TFM/Datos_Adopciones_Corregido_test.xlsx'

# Cargar el archivo
df = pd.read_excel(ruta)

Mounted at /content/drive

## 1.  Inspecci칩n general del dataset

### 1.1. Informaci칩n general del dataset

In [ ]:
# Dimensiones del dataset
filas, columnas = df.shape
print(f"游늺 El dataset tiene {filas} filas y {columnas} columnas.")

游늺 El dataset tiene 2449 filas y 12 columnas.

In [ ]:
# Vista general del dataset
print("游늷 Primeras filas del dataset:")
display(df.head())

游늷 Primeras filas del dataset:

,animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible
0,Chia,2002-02-28 00:00:00,28019 Madrid,Madrid,Pedro,39,M,piso,jornada completa,baja,Adop,>5h
1,Rasputin,2002-03-04 00:00:00,28922 Alcorcon,Madrid,Sof칤a,45,F,piso,jornada parcial (ma침ana),baja,Adop,2-5h
2,Zeta,2012-11-24 00:00:00,Madrid,Madrid,Luc칤a,43,F,piso,jornada completa,baja,Adop,2-5h
3,Mia ( gata ),2012-12-06 00:00:00,Toledo,Toledo,Luis,20,M,piso,turno rotativo,media,Adop,2-5h
4,Agua,2012-12-14 00:00:00,Galapagos,Guadalajara,Luc칤a,49,F,casa/chalet,turno rotativo,baja,Adop,2-5h

### 1.2. Caracter칤sticas de las columnas

#### 1.2.1. Tipo de datos

In [ ]:
df.dtypes.to_frame(name='tipo')

                        tipo
animal                object
fecha                 object
poblacion             object
provincia             object
nombre                object
edad                   int64
genero                object
vivienda              object
horario_laboral       object
experiencia_animales  object
devuelto              object
tiempo_disponible     object

In [ ]:
# Tipos diferentes dentro de cada columna
for col in df.select_dtypes(include='object').columns:
    tipos = df[col].map(type).value_counts()
    if len(tipos) > 1:
        print(f"\n丘멆잺 Mezcla de tipos en '{col}':")
        print(tipos)

丘멆잺 Mezcla de tipos en 'animal':
animal
<class 'str'>      2447
<class 'float'>       2
Name: count, dtype: int64

丘멆잺 Mezcla de tipos en 'fecha':
fecha
<class 'datetime.datetime'>    2332
<class 'str'>                    80
<class 'int'>                    31
<class 'float'>                   6
Name: count, dtype: int64

丘멆잺 Mezcla de tipos en 'poblacion':
poblacion
<class 'str'>      2446
<class 'int'>         2
<class 'float'>       1
Name: count, dtype: int64

丘멆잺 Mezcla de tipos en 'genero':
genero
<class 'str'>      2436
<class 'float'>      13
Name: count, dtype: int64

丘멆잺 Mezcla de tipos en 'experiencia_animales':
experiencia_animales
<class 'str'>      2448
<class 'float'>       1
Name: count, dtype: int64

In [ ]:
# Convertir columna 'fecha' a datetime
df['fecha'] = pd.to_datetime(df['fecha'], errors='coerce', dayfirst=True)

#### 1.2.2. Valores nulos

In [ ]:
df.isnull().sum()

animal                   2
fecha                   68
poblacion                1
provincia                0
nombre                   0
edad                     0
genero                  13
vivienda                 0
horario_laboral          0
experiencia_animales     1
devuelto                 0
tiempo_disponible        0
dtype: int64

In [ ]:
import numpy as np

# Reemplazar valores vac칤os o solo con espacios por NaN en columnas de texto
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].apply(lambda x: np.nan if pd.isnull(x) or str(x).strip() == "" else x)

# Mostrar columnas con valores nulos
print("\n Valores nulos despu칠s de limpieza de strings vac칤os:")
print(df.isnull().sum())

 Valores nulos despu칠s de limpieza de strings vac칤os:
animal                   2
fecha                   68
poblacion                1
provincia                0
nombre                  13
edad                     0
genero                  13
vivienda                 0
horario_laboral          0
experiencia_animales     1
devuelto                16
tiempo_disponible        0
dtype: int64

#### 1.2.3. Valores 칰nicos por columna

In [ ]:
df.nunique()

animal                  1758
fecha                   1409
poblacion                733
provincia                 85
nombre                   382
edad                      43
genero                     7
vivienda                   5
horario_laboral            7
experiencia_animales       3
devuelto                   7
tiempo_disponible          3
dtype: int64

#### Lo m치s llamativo:
- animal	1758	- muchos nombres distintos sin especificar el tipo de animal
- genero	7	- deber칤a tener 2-3 valores
- vivienda	4	- conversi칩n a category
- horario_laboral	5	- lo mismo que vivienda
- devuelto	8	- demasiados valores, deber칤a ser s칤/no

#### 1.2.4. Valores duplicados

In [ ]:
df.duplicated().sum()

np.int64(0)

No hay filas duplicadas.

In [ ]:
print("Nombres m치s repetidos:")
print(df['nombre'].value_counts().head(10))

print("\n Animales m치s repetidos:")
print(df['animal'].value_counts().head(10))

Nombres m치s repetidos:
nombre
Laura     209
Ana       206
Sof칤a     200
David     200
Luc칤a     199
Juan      196
Luis      194
Marta     192
Pedro     182
Carlos    178
Name: count, dtype: int64

 Animales m치s repetidos:
animal
Cachorros              27
No indica              14
Cachorro               14
Zoe                    14
Linda                  12
Portos                 12
Clara                  11
Rasputin (cachorro)    11
Olivia                 10
Copito                 10
Name: count, dtype: int64

#### 1.2.5. Posibles errores ortogr치ficos o inconsistencias de formato

#### Revisi칩n ortogr치fica reutilizable y correcci칩n manual

Para detectar errores ortogr치ficos o inconsistencias en columnas de texto (como `provincia` o `poblacion`), se cre칩 una funci칩n reutilizable basada en `difflib.get_close_matches`. Esta herramienta permite encontrar entradas muy parecidas entre s칤, lo cual puede indicar errores de escritura, abreviaciones o variaciones innecesarias.

In [ ]:
import re

def quitar_codigo_postal(valor):
        return re.sub(r'^\d{4,5}\s*', '', str(valor)).strip()

# Aplicar a la columna 'poblacion'
df['poblacion'] = df['poblacion'].apply(quitar_codigo_postal)

In [ ]:
from difflib import get_close_matches

def sugerir_correcciones(df, columna, cutoff=0.8):
    print(f"\n Posibles errores ortogr치ficos en '{columna}':")
    valores = df[columna].dropna().astype(str).str.strip().unique()
    valores = sorted(valores)
    ya_mostrados = set()

    for val in valores:
        if val in ya_mostrados:
            continue
        similares = get_close_matches(val, valores, n=5, cutoff=cutoff)
        if len(similares) > 1:
            print("  -", ", ".join(similares))
            ya_mostrados.update(similares)

# Uso en columnas clave:
sugerir_correcciones(df, 'provincia', cutoff=0.8)
sugerir_correcciones(df, 'poblacion', cutoff=0.9)

 Posibles errores ortogr치ficos en 'provincia':
  - ASturias, Asturias
  - Biskaia, Bizkaia
  - Bizcaia, Bizkaia
  - Canarias, Cantabria
  - Castellon, Castell칩n
  - Catalu침a, Cata침u침a
  - Gerona, Girona
  - MAdrid, Madrid
  - Madrir, Madrid
  - No indica, no indica
  - Pais Vasco, Pais Vazco
  - Palencia, Valencia
  - Pontevedra, Pontevedra)
  - S.C.Tenerife, Tenerife
  - Toleddo, Toledo
  - ValenciA, Valencia

 Posibles errores ortogr치ficos en 'poblacion':
  - ,Madrid, Madrid
  - Alcala de Henares, Alcal치 de Henares
  - Arcicollar, Arcic칩llar
  - Arganda del Rey, Arganda del rey
  - Becerril de La Sierra, Becerril de la Sierra
  - Boadilla del Monte, Boadilla del monte
  - Cedillo del Condado, Cedillo del condado
  - Collado Villalba, Collado Villlalba
  - El Viso San Juan, El Viso de San Juan
  - La Puebla de Almoradiel, Puebla de Almoradiel
  - La Torre de Esteban Hambran, La torre de Esteban Hambran
  - Las Ventas de Retamosa, Ventas de Retamosa
  - Maddrid, Madrid
  - Numancia de la Sagra, Numancia de la sagra
  - Oiartzun, Oirartzun
  - Paracuellos Jarama, Paracuellos del Jarama
  - Pozuelo Alarcon, Pozuelo de Alarcon
  - Rivas - Vaciamadrid, Rivas Vaciamadrid, Rivas Vaciamdadrid, Rivas Vaciamdrid
  - S. Martin de la Vega, San Martin de la Vega
  - S.F. Henares, S.F.Henares
  - S.S. Reyes, S.S.Reyes
  - S.S.De los Reyes, S.S.de los Reyes
  - S.Sebastian de los Reyes, San Sebastian de los Reyes
  - SS de los Reyes, S.S.de los Reyes
  - San Agustin de Guadalix, San Agustin del Guadalix, San Agustin de Guadallix
  - San Mart칤n de la Vega, San Martin de la Vega
  - Se침orio Illescas, Se침orio de Illescas
  - Talavera de la REina, Talavera de la Reina
  - Torrejon de ARdoz, Torrejon de Ardoz
  - Torrejon de ardoz, Torrejon de Ardoz
  - Torrejon del Rey, Torrejon del rey
  - Torrej칩n de Ardoz., Torrejon de Ardoz
  - Villabilla, Villalbilla
  - Villafranca de los Caballeros, Villafranca de los caballeros
  - Villaluenga de la Sagra, Villaluenga de la sagra
  - Villanueva d ela Ca침ada, Villanueva de la Ca침ada
  - Villaviciosa de Odon, Villaviciosa de Od칩n
  - Yuncos, Yuncoss

In [ ]:
df['genero'].value_counts(dropna=False)

genero
F         1018
M          957
f          243
m           93
otro        66
mujer       42
hombre      17
NaN         13
Name: count, dtype: int64

In [ ]:
df['devuelto'].value_counts(dropna=False)

devuelto
Adop    928
No      907
adop    356
S칤      205
x        21
NaN      16
Dev      15
X         1
Name: count, dtype: int64

#### 1.2.6. Estad칤sticas y observaciones relevantes

In [ ]:
# Redondear resultados
print("Edad m칤nima:", int(df['edad'].min()))
print("Edad m치xima:", int(df['edad'].max()))
print("Edad media:", round(df['edad'].mean()))
print("Edad mediana:", int(df['edad'].median()))
print("Desviaci칩n est치ndar:", round(df['edad'].std()))
print("Moda:", int(df['edad'].mode()[0]))

Edad m칤nima: 18
Edad m치xima: 60
Edad media: 36
Edad mediana: 36
Desviaci칩n est치ndar: 11
Moda: 41

In [ ]:
cols_interes = ['animal', 'genero', 'vivienda', 'horario_laboral', 'experiencia_animales', 'devuelto']
display(df[cols_interes].describe())

,animal,genero,vivienda,horario_laboral,experiencia_animales,devuelto
count,2447,2436,2449,2449,2448,2433
unique,1758,7,5,7,3,7
top,Cachorros,F,piso,jornada completa,media,Adop
freq,27,1018,1406,1452,1046,928

## 2. Correcciones y transformaci칩n

### 2.1. A침adir un ID 칰nico

In [ ]:
# A침adir ID

df['ID'] = range(1, len(df) + 1)

# Reordenar columnas
cols = ['ID'] + [col for col in df.columns if col != 'ID']
df = df[cols]

In [ ]:
df.head()

,ID,animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible
0,1,Chia,2002-02-28,Madrid,Madrid,Pedro,39,M,piso,jornada completa,baja,Adop,>5h
1,2,Rasputin,2002-03-04,Alcorcon,Madrid,Sof칤a,45,F,piso,jornada parcial (ma침ana),baja,Adop,2-5h
2,3,Zeta,2012-11-24,Madrid,Madrid,Luc칤a,43,F,piso,jornada completa,baja,Adop,2-5h
3,4,Mia ( gata ),2012-12-06,Toledo,Toledo,Luis,20,M,piso,turno rotativo,media,Adop,2-5h
4,5,Agua,2012-12-14,Galapagos,Guadalajara,Luc칤a,49,F,casa/chalet,turno rotativo,baja,Adop,2-5h

### 2.2. Limpieza general de texto

- Eliminar tildes y caracteres especiales
- Reemplazar saltos de l칤nea por espacios
- Normalizar capitalizaci칩n

In [ ]:
import unicodedata
import re

def limpiar_texto_completo(texto):
    if pd.isnull(texto):
        return texto
    texto = str(texto)
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('utf-8')
    texto = texto.replace('\n', ' ').replace('\r', ' ')
    texto = re.sub(r'\s+', ' ', texto).strip()
    return texto.title()

columnas_a_normalizar = ['animal', 'provincia', 'poblacion', 'nombre', 'vivienda', 'horario_laboral', 'experiencia_animales', 'devuelto', 'tiempo_disponible']

for col in columnas_a_normalizar:
    df[col] = df[col].apply(limpiar_texto_completo)

In [ ]:
df.head()

,ID,animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible
0,1,Chia,2002-02-28,Madrid,Madrid,Pedro,39,M,Piso,Jornada Completa,Baja,Adop,>5H
1,2,Rasputin,2002-03-04,Alcorcon,Madrid,Sofia,45,F,Piso,Jornada Parcial (Manana),Baja,Adop,2-5H
2,3,Zeta,2012-11-24,Madrid,Madrid,Lucia,43,F,Piso,Jornada Completa,Baja,Adop,2-5H
3,4,Mia ( Gata ),2012-12-06,Toledo,Toledo,Luis,20,M,Piso,Turno Rotativo,Media,Adop,2-5H
4,5,Agua,2012-12-14,Galapagos,Guadalajara,Lucia,49,F,Casa/Chalet,Turno Rotativo,Baja,Adop,2-5H

### 2.3. Limpieza espec칤fica

#### 2.3.1. Limpieza de la columna fecha

In [ ]:
# Extraer el a침o
df['a침o'] = df['fecha'].dt.year

# Eliminar filas con a침o nulo
df = df[df['a침o'].notna()]

# Convertir 'a침o' a entero
df['a침o'] = df['a침o'].astype(int)

# Conteo por a침o
print("游늰 Conteo de registros por a침o (sin filtrar):")
print(df['a침o'].value_counts().sort_index())

游늰 Conteo de registros por a침o (sin filtrar):
a침o
1905      9
1970     31
2002      2
2004      1
2006      2
2008      2
2009      4
2010     25
2011     29
2012     56
2013    218
2014    215
2015    213
2016    205
2017    120
2018    111
2019     94
2020     49
2021    332
2022    281
2023    259
2024    105
2025     17
2107      1
Name: count, dtype: int64

Se observa que hay registros con a침os claramente fuera del rango esperable (ej. 1905, 2107), lo cual sugiere errores en la entrada de datos. Por eso se decide conservar solo registros entre 2010 y 2025 para asegurar relevancia y coherencia en el an치lisis.

In [ ]:
# Crear columna para visualizaci칩n
df['fecha_europea'] = df['fecha'].dt.strftime('%d/%m/%Y')

# Convertir a date (sin hora)
df['fecha'] = df['fecha'].dt.date

# Eliminar nulos y filtrar rango esperado
df = df[df['a침o'].notna()]
df = df[df['a침o'].between(2010, 2025)]

In [ ]:
df[['fecha', 'fecha_europea', 'a침o']].head()

        fecha fecha_europea   a침o
2  2012-11-24    24/11/2012  2012
3  2012-12-06    06/12/2012  2012
4  2012-12-14    14/12/2012  2012
5  2012-12-20    20/12/2012  2012
6  2012-12-22    22/12/2012  2012

### 2.3.2. Corregir fallos ortograficos en 'poblacion' & 'provincia'

#### Correcci칩n de errores ortogr치ficos en 'poblacion' y 'provincia'

Tras normalizar el texto y eliminar c칩digos postales, a칰n pueden quedar inconsistencias ortogr치ficas en columnas como 'poblacion' y 'provincia'. Se utiliza una funci칩n basada en `difflib` para sugerir valores similares que podr칤an representar errores de escritura. Esto permite identificar grupos de valores equivalentes y proceder a una correcci칩n manual en los casos m치s evidentes.

In [ ]:
# Limpiar n칰meros al principio de 'provincia' y 'poblacion'
for col in ['provincia', 'poblacion']:
    df[col] = df[col].astype(str).str.replace(r'^\d+\s*', '', regex=True).str.strip()

In [ ]:
df = df[df['poblacion'].notna() & (df['poblacion'].str.strip() != '')]

In [ ]:
import pandas as pd

# Mostrar valores 칰nicos antes de limpieza
print("Provincias 칰nicas ANTES de limpiar:")
print(sorted(df['provincia'].dropna().unique()))
print("\nPoblaciones 칰nicas ANTES de limpiar:")
print(sorted(df['poblacion'].dropna().astype(str).unique()))

# Diccionarios de correcci칩n
correcciones_provincia = {
    'ASturias' : 'Asturias',
    'Madrir': 'Madrid',
    'MAdrid': 'Madrid',
    'Toleddo': 'Toledo',
    'Bizcaya': 'Bizkaia',
    'Biskaia': 'Bizkaia',
    'Bizcaia': 'Bizkaia',
    'Belgica': 'B칠lgica',
    'Alemania': 'Alemania',
    'Luxemburgo': 'Luxemburgo',
    'no indica': 'Sin datos',
    'No indica': 'Sin datos',
    '08758 Barcelona': 'Barcelona',
    'Cata침u침a': 'Catalu침a',
    'ValenciA': 'Valencia',
    'Castell칩n': 'Castellon',
    'Pontevedra)': 'Pontevedra'
}

correcciones_poblacion = {
    ', Cerdanyola Del Valles,' : 'Cerdanyola Del Valles',
    'Collado Villlalba': 'Collado Villalba',
    'S.C.Retamar': 'Santa Cruz Retamar',
    'S.Cugat Del Valles': 'Sant Cugat Del Valles',
    'La Puebla De Almoradiel': 'Puebla De Almoradiel',
    'Rivas Vaciamdadrid': 'Rivas Vaciamadrid',
    'San Rafaelk': 'San Rafael',
    'Maddrid': 'Madrid',
    ',Madrid' : 'Madrid',
    'S.F.Henares': 'San Fernando De Henares',
    'S.F. Henares': 'San Fernando De Henares',
    'S.S. Reyes': 'San Sebastian De Los Reyes',
    'S.S.Reyes': 'San Sebastian De Los Reyes',
    'S.S.De Los Reyes': 'San Sebastian De Los Reyes',
    'S.L.Escorial': 'San Lorenzo De El Escorial',
    'S.L.El Escorial': 'San Lorenzo De El Escorial',
    'S.Esteban De Palautordera': 'Sant Esteve De Palautordera',
    'Anover De Tajo ': 'Anover De Tajo',
}

# Aplicar correcciones
df['provincia'] = df['provincia'].replace(correcciones_provincia)
df['poblacion'] = df['poblacion'].replace(correcciones_poblacion)

# Mostrar valores 칰nicos despu칠s de limpieza
print("\nProvincias 칰nicas DESPU칄S de limpiar:")
print(sorted(df['provincia'].dropna().unique()))
print("\nPoblaciones 칰nicas DESPU칄S de limpiar:")
print(sorted(df['poblacion'].dropna().astype(str).unique()))

Provincias 칰nicas ANTES de limpiar:
['Alava', 'Albacete', 'Alemania', 'Alicante', 'Almeria', 'Andalucia', 'Asturias', 'Avila', 'Badajoz', 'Badalona', 'Baleares', 'Barcelona', 'Belgica', 'Bilbao', 'Biskaia', 'Bizcaia', 'Bizkaia', 'Burgos', 'Caceres', 'Cadiz', 'Canarias', 'Cantabria', 'Castellon', 'Castilla La Mancha', 'Cataluna', 'Catanuna', 'Ciudad Real', 'Cordoba', 'Cuenca', 'Dinamarca', 'Extremadura', 'Francia', 'Galicia', 'Gerona', 'Girona', 'Granada', 'Guadalajara', 'Guipuzcoa', 'Huelva', 'Huesca', 'Jaen', 'La Coruna', 'La Rioja', 'Leon', 'Luxemburgo', 'Madrid', 'Madrir', 'Malaga', 'Mallorca', 'Murcia', 'Navarra', 'No Indica', 'Olias Del Rey', 'Pais Vasco', 'Pais Vazco', 'Palencia', 'Pamplona', 'Pontevedra', 'Pontevedra)', 'Portugal', 'Reino Unido', 'Rioja', 'S.C.Tenerife', 'Salamanca', 'San Sebastian', 'Segovia', 'Sin Datos', 'Soria', 'Suiza', 'Tarragona', 'Tenerife', 'Toleddo', 'Toledo', 'Valencia', 'Valladolid', 'Valparaiso', 'Vizcaya', 'Zamora', 'Zaragoza']

Poblaciones 칰nicas ANTES de limpiar:
[', Cerdanyola Del Valles,', ',Madrid', 'Aguilas', 'Agullent', 'Aizarnazabal,', 'Ajofrin', 'Alalpardo', 'Alameda De La Sagra', 'Albacete', 'Albarreal Del Tajo', 'Albiol', 'Alcala De Henares', 'Alcazar De San Juan', 'Alcobendas', 'Alcorcon', 'Alcoy', 'Aldea Del Fresno', 'Aldeamayor De S. Martin', 'Alemania', 'Alfaz Del Pi', 'Algeciras', 'Algemesi', 'Algete', 'Alicante', 'Aljavir', 'Almazan', 'Almazora', 'Almeria', 'Almorox', 'Alovera', 'Alsasua', 'Alzira', 'Amorebieta', 'Amurrio', 'Anover De Tajo', 'Aoiz', 'Aranjuez', 'Aravaca', 'Arcicollar', 'Arevalo', 'Arganda Del Rey', 'Arges', 'Armilla', 'Arroyomolinos', 'Artajona', 'Artea', 'Ascot', 'Ateca', 'Avila', 'Aviles', 'Azucaica', 'Azuqueca', 'Azuqueca De Henares', 'Badajoz', 'Badalona', 'Baracaldo', 'Barcelona', 'Barcience', 'Bargas', 'Batres', 'Becerril De La Sierra', 'Belvis De La Jara', 'Benahadux', 'Benalmadena', 'Benicasim', 'Berga', 'Bilbao', 'Bizkaia', 'Blaco', 'Boadilla Del Monte', 'Boecillo', 'Borgloon', 'Borox', 'Breda', 'Brunete', 'Bufali', 'Burgos', 'Burguillos De Toledo', 'Burlada', 'Burujon', 'Cabanas De La Sagra', 'Cabezo De Torres', 'Caceres', 'Cadalso De Los Vidrios', 'Calella', 'Callosa De Segura', 'Calpe', 'Calsdes De Malavella', 'Camarena', 'Camarma De Esteruelas', 'Candeleda', 'Cantimpalos', 'Carabana', 'Carranque', 'Carriches', 'Cartagena', 'Casarrubios Del Monte', 'Casarrubuelos', 'Casetas', 'Castellon', 'Castellon De La Plana', 'Casteo Urdiales', 'Castiello De Jaca', 'Cazalegas', 'Cebreros', 'Cedillo Del Condado', 'Cercedilla', 'Cervello', 'Chapineria', 'Chiloeches', 'Chinchon', 'Chiva', 'Chozas De Canales', 'Ciempozuelos', 'Ciudad Real', 'Cobeja', 'Cobena', 'Cobisa', 'Collado Mediano', 'Collado Villalba', 'Collado Villlalba', 'Colmenar De Oreja', 'Colmenar Viejo', 'Colmenarejo', 'Colungio', 'Consuegra', 'Corbera De Llobregat', 'Cordoba', 'Corral De Almaguer', 'Corteconcepcion', 'Coslada', 'Cox', 'Cuarte De Huerva', 'Cuenca', 'Daganzo De Arriba', 'Daimus', 'Durango', 'Ea', 'Egues', 'El Alamo', 'El Barraco', 'El Berrueco', 'El Canaveral', 'El Casar', 'El Escorial', 'El Gordo', 'El Masnou', 'El Quinon - Sesena', 'El Rourell', 'El Vendrell', 'El Viso De San Juan', 'El Viso San Juan', 'Elche', 'Errenteria', 'Escalona', 'Escalonilla', 'Espinardo', 'Esquivias', 'Estacion De Cartama', 'Fernan Nunez', 'Ferrol', 'Figueres', 'Flaca', 'Fontanar', 'Fresnedillas De La Oliva', 'Fuencarral', 'Fuenlabrada', 'Fuensalida', 'Fuente El Fresno', 'Galapagar', 'Galapagos', 'Galdakao', 'Galvez', 'Garganta De Los Montes', 'Gernika', 'Gerona', 'Getafe', 'Gijon', 'Girona', 'Grinon', 'Guadalajara', 'Guadamur', 'Guadarrama', 'Hontoba', 'Horcajo De Santiago', 'Hormigos', 'Hoyo De Manzanares', 'Hoyo De Pinares', 'Huarte', 'Huerta De Valdecarabanos', 'Humanes', 'Humanes De Madrid', 'Illescas', 'Iniesta', 'Jaen', 'Javea', 'Kilchberg', 'La Cala De Mijas', 'La Coruna', 'La Navata', 'La Pobla De Vallbona', 'La Puebla De Almoradiel', 'La Puebla De Montalban', 'La Solana', 'La Torre De Esteban Hambran', 'La Turbie', 'La Victoria De Acentejo', 'Laguna De Duero', 'Las Palmas G.Canaria', 'Las Presas', 'Las Rozas', 'Las Ventas De Retamosa', 'Leganes', 'Leioa', 'Leon', 'Leuze En Hainaut', 'Lillo', 'Llanars', 'Llucmayor', 'Loarre', 'Loeches', 'Lominchar', 'Los Yebenes', 'Lugones', 'Luxemburgo', 'Maddrid', 'Madrid', 'Madrid Y Robledo De Chavela', 'Madridejos', 'Magan', 'Majadahonda', 'Malaga', 'Manzanares', 'Manzanares Del Real', 'Marchamalo', 'Martorell', 'Mazarambroz', 'Meco', 'Meggen Lucerna', 'Mejorada Del Campo', 'Menasabas', 'Mendavia', 'Mentrida', 'Merida', 'Miguel Esteban', 'Mirador Los Pinos', 'Miranda De Ebro', 'Mislata', 'Mocejon', 'Moia', 'Moncloa Aravaca', 'Mora', 'Moraleja De Enmedio', 'Moraleja Del Vino', 'Mostoles', 'Mota Del Cuervo', 'Murcia', 'Mutamel', 'Nambroca', 'Nan', 'Navacerrada', 'Navahermosa', 'Navalcarnero', 'Navarra', 'Navarredonda De Gredos', 'Navas De Buitrago', 'Niva', 'No Indica', 'Noblejas', 'Numancia De La Sagra', 'Ocana', 'Oiartzun', 'Oirartzun', 'Olesa De Montserrat', 'Olias Del Rey', 'Ontigola', 'Ontinyent', 'Orgaz', 'Otero De Herreros', 'Oviedo', 'Palazuelos De Eresma', 'Palencia', 'Palma', 'Palma Mallorca', 'Pamplona', 'Pantoja', 'Paracuellos Del Jarama', 'Paracuellos Jarama', 'Paredes De Escalona', 'Parla', 'Paterna', 'Pedrezuela', 'Pelahustan', 'Pepino', 'Petrer', 'Pinoso', 'Pinto', 'Pioz', 'Plasencia', 'Polan', 'Portillo De Toledo', 'Portosin', 'Portugal', 'Pozuelo Alarcon', 'Pozuelo De Alarcon', 'Puebla De Almoradiel', 'Pueblanueva', 'Puertollano', 'Queluz - Lisboa', 'Quero', 'Quijorna', 'Quintanar De La Orden', 'Quintanar Del Rey', 'Quismondo', 'Recajo', 'Recas', 'Renedo De Esgueva', 'Riaza', 'Rivas - Vaciamadrid', 'Rivas Vaciamadrid', 'Rivas Vaciamdadrid', 'Robledo De Chavela', 'Rota', 'S. Lorenzo El Escorial', 'S. Martin De La Vega', 'S. Pablo De Los Montes', 'S.C.Retamar', 'S.Cugat Del Valles', 'S.Esteban De Palautordera', 'S.F. Henares', 'S.F.Henares', 'S.L.El Escorial', 'S.L.Escorial', 'S.S. Reyes', 'S.S.De Los Reyes', 'S.S.Reyes', 'S.Sebastian De Los Reyes', 'Sabadell', 'Salamanca', 'San Agustin De Guadalix', 'San Agustin De Guadallix', 'San Agustin Del Guadalix', 'San Andres Del Rabanedo', 'San Antonio De Berangeber,', 'San Fdo De Henares', 'San Fdo. Henares', 'San Fernando De Henares', 'San Ildefonso', 'San Martin De La Vega', 'San Martin De La Vega 28330', 'San Martin De Montalban', 'San Rafaelk', 'San S.De Los Reyes', 'San Sebastian', 'San Sebastian De Los Reyes', 'San Vicente Del Raspeig', 'Sant Cugat Del Valles', 'Sant Esteve De Palautordera', 'Sant Pere De Ribes', 'Santa Coloma De Gramanet', 'Santa Cruz De La Zarza', 'Santa Cruz De Tenerife', 'Santa Maria De Benquerencia', 'Santa Marta De Tormes', 'Santander', 'Santiago De Cartes', 'Sarriguren', 'Segurilla', 'Senorio De Illescas', 'Senorio Illescas', 'Serranillos Del Valle', 'Sesena', 'Sesena ( El Quinon )', 'Sesena Viejo', 'Seva', 'Sin Datos', 'Soller', 'Somosaguas - Pozuelo', 'Sonseca', 'Sotillo De La Adrada', 'Soto Del Real', 'Sotos', 'Ss De Los Reyes', 'Sta.Cruz Retamar', 'Talamanca Del Jarama', 'Talavera', 'Talavera De La Reina', 'Taradell', 'Tarancon', 'Tarifa', 'Tarrasa', 'Tembleque', 'Terrassa', 'Toledo', 'Tomelloso', 'Torrejon De Ardoz', 'Torrejon De Ardoz.', 'Torrejon De La Calzada', 'Torrejon De Velasco', 'Torrejon Del Rey', 'Torrelodones', 'Torremontalbo', 'Torrente', 'Torres De La Alameda', 'Torrevieja', 'Torrijos', 'Tres Cantos', 'Trijueque', 'Trobajo Del Camino', 'Tudela', 'Turleque', 'Ugena', 'Urb.Monte Sion', 'Utebo', 'Vacarisses 08233,', 'Val De Santo Domingo', 'Valdeluz', 'Valdemarin', 'Valdemorillo', 'Valdemoro', 'Valdetorres Del Jarama', 'Valencia', 'Valladolid', 'Valle De Luena', 'Valle Trapaga', 'Vallecas', 'Vallecas (Madrid)', 'Valmojado', 'Vega - Gijon', 'Velilla De San Antonio', 'Ventas Con Pena Aguilera', 'Ventas De Retamosa', 'Venturada', 'Vic', 'Vigo', 'Vila Real', 'Viladecans', 'Vilanova Del Valles', 'Villa Del Prado', 'Villabilla', 'Villacanas', 'Villafranca De Los Caballeros', 'Villafranca Del Castillo', 'Villalba', 'Villalbilla', 'Villaluenga De La Sagra', 'Villamanta', 'Villamuelas', 'Villamuriel De Cerrato', 'Villanueva D Ela Canada', 'Villanueva De La Canada', 'Villanueva De Los Infantes', 'Villanueva De Santo Adriano', 'Villanueva Del Pardillo', 'Villarejo De Salvanes', 'Villarrobledo', 'Villaseca La Sagra', 'Villasequilla', 'Villaviciosa', 'Villaviciosa De Odon', 'Villodas', 'Vitoria ( Gasteiz )', 'Vitoria Gasteiz', 'Vizcaya', 'Yecla', 'Yeles', 'Yepes', 'Yuncler', 'Yunclillos', 'Yuncos', 'Yuncoss', 'Yunquera De Henares', 'Zaragoza', 'Zarzalejo']

Provincias 칰nicas DESPU칄S de limpiar:
['Alava', 'Albacete', 'Alemania', 'Alicante', 'Almeria', 'Andalucia', 'Asturias', 'Avila', 'Badajoz', 'Badalona', 'Baleares', 'Barcelona', 'Bilbao', 'Bizkaia', 'Burgos', 'B칠lgica', 'Caceres', 'Cadiz', 'Canarias', 'Cantabria', 'Castellon', 'Castilla La Mancha', 'Cataluna', 'Catanuna', 'Ciudad Real', 'Cordoba', 'Cuenca', 'Dinamarca', 'Extremadura', 'Francia', 'Galicia', 'Gerona', 'Girona', 'Granada', 'Guadalajara', 'Guipuzcoa', 'Huelva', 'Huesca', 'Jaen', 'La Coruna', 'La Rioja', 'Leon', 'Luxemburgo', 'Madrid', 'Malaga', 'Mallorca', 'Murcia', 'Navarra', 'No Indica', 'Olias Del Rey', 'Pais Vasco', 'Pais Vazco', 'Palencia', 'Pamplona', 'Pontevedra', 'Portugal', 'Reino Unido', 'Rioja', 'S.C.Tenerife', 'Salamanca', 'San Sebastian', 'Segovia', 'Sin Datos', 'Soria', 'Suiza', 'Tarragona', 'Tenerife', 'Toledo', 'Valencia', 'Valladolid', 'Valparaiso', 'Vizcaya', 'Zamora', 'Zaragoza']

Poblaciones 칰nicas DESPU칄S de limpiar:
['Aguilas', 'Agullent', 'Aizarnazabal,', 'Ajofrin', 'Alalpardo', 'Alameda De La Sagra', 'Albacete', 'Albarreal Del Tajo', 'Albiol', 'Alcala De Henares', 'Alcazar De San Juan', 'Alcobendas', 'Alcorcon', 'Alcoy', 'Aldea Del Fresno', 'Aldeamayor De S. Martin', 'Alemania', 'Alfaz Del Pi', 'Algeciras', 'Algemesi', 'Algete', 'Alicante', 'Aljavir', 'Almazan', 'Almazora', 'Almeria', 'Almorox', 'Alovera', 'Alsasua', 'Alzira', 'Amorebieta', 'Amurrio', 'Anover De Tajo', 'Aoiz', 'Aranjuez', 'Aravaca', 'Arcicollar', 'Arevalo', 'Arganda Del Rey', 'Arges', 'Armilla', 'Arroyomolinos', 'Artajona', 'Artea', 'Ascot', 'Ateca', 'Avila', 'Aviles', 'Azucaica', 'Azuqueca', 'Azuqueca De Henares', 'Badajoz', 'Badalona', 'Baracaldo', 'Barcelona', 'Barcience', 'Bargas', 'Batres', 'Becerril De La Sierra', 'Belvis De La Jara', 'Benahadux', 'Benalmadena', 'Benicasim', 'Berga', 'Bilbao', 'Bizkaia', 'Blaco', 'Boadilla Del Monte', 'Boecillo', 'Borgloon', 'Borox', 'Breda', 'Brunete', 'Bufali', 'Burgos', 'Burguillos De Toledo', 'Burlada', 'Burujon', 'Cabanas De La Sagra', 'Cabezo De Torres', 'Caceres', 'Cadalso De Los Vidrios', 'Calella', 'Callosa De Segura', 'Calpe', 'Calsdes De Malavella', 'Camarena', 'Camarma De Esteruelas', 'Candeleda', 'Cantimpalos', 'Carabana', 'Carranque', 'Carriches', 'Cartagena', 'Casarrubios Del Monte', 'Casarrubuelos', 'Casetas', 'Castellon', 'Castellon De La Plana', 'Casteo Urdiales', 'Castiello De Jaca', 'Cazalegas', 'Cebreros', 'Cedillo Del Condado', 'Cercedilla', 'Cerdanyola Del Valles', 'Cervello', 'Chapineria', 'Chiloeches', 'Chinchon', 'Chiva', 'Chozas De Canales', 'Ciempozuelos', 'Ciudad Real', 'Cobeja', 'Cobena', 'Cobisa', 'Collado Mediano', 'Collado Villalba', 'Colmenar De Oreja', 'Colmenar Viejo', 'Colmenarejo', 'Colungio', 'Consuegra', 'Corbera De Llobregat', 'Cordoba', 'Corral De Almaguer', 'Corteconcepcion', 'Coslada', 'Cox', 'Cuarte De Huerva', 'Cuenca', 'Daganzo De Arriba', 'Daimus', 'Durango', 'Ea', 'Egues', 'El Alamo', 'El Barraco', 'El Berrueco', 'El Canaveral', 'El Casar', 'El Escorial', 'El Gordo', 'El Masnou', 'El Quinon - Sesena', 'El Rourell', 'El Vendrell', 'El Viso De San Juan', 'El Viso San Juan', 'Elche', 'Errenteria', 'Escalona', 'Escalonilla', 'Espinardo', 'Esquivias', 'Estacion De Cartama', 'Fernan Nunez', 'Ferrol', 'Figueres', 'Flaca', 'Fontanar', 'Fresnedillas De La Oliva', 'Fuencarral', 'Fuenlabrada', 'Fuensalida', 'Fuente El Fresno', 'Galapagar', 'Galapagos', 'Galdakao', 'Galvez', 'Garganta De Los Montes', 'Gernika', 'Gerona', 'Getafe', 'Gijon', 'Girona', 'Grinon', 'Guadalajara', 'Guadamur', 'Guadarrama', 'Hontoba', 'Horcajo De Santiago', 'Hormigos', 'Hoyo De Manzanares', 'Hoyo De Pinares', 'Huarte', 'Huerta De Valdecarabanos', 'Humanes', 'Humanes De Madrid', 'Illescas', 'Iniesta', 'Jaen', 'Javea', 'Kilchberg', 'La Cala De Mijas', 'La Coruna', 'La Navata', 'La Pobla De Vallbona', 'La Puebla De Montalban', 'La Solana', 'La Torre De Esteban Hambran', 'La Turbie', 'La Victoria De Acentejo', 'Laguna De Duero', 'Las Palmas G.Canaria', 'Las Presas', 'Las Rozas', 'Las Ventas De Retamosa', 'Leganes', 'Leioa', 'Leon', 'Leuze En Hainaut', 'Lillo', 'Llanars', 'Llucmayor', 'Loarre', 'Loeches', 'Lominchar', 'Los Yebenes', 'Lugones', 'Luxemburgo', 'Madrid', 'Madrid Y Robledo De Chavela', 'Madridejos', 'Magan', 'Majadahonda', 'Malaga', 'Manzanares', 'Manzanares Del Real', 'Marchamalo', 'Martorell', 'Mazarambroz', 'Meco', 'Meggen Lucerna', 'Mejorada Del Campo', 'Menasabas', 'Mendavia', 'Mentrida', 'Merida', 'Miguel Esteban', 'Mirador Los Pinos', 'Miranda De Ebro', 'Mislata', 'Mocejon', 'Moia', 'Moncloa Aravaca', 'Mora', 'Moraleja De Enmedio', 'Moraleja Del Vino', 'Mostoles', 'Mota Del Cuervo', 'Murcia', 'Mutamel', 'Nambroca', 'Nan', 'Navacerrada', 'Navahermosa', 'Navalcarnero', 'Navarra', 'Navarredonda De Gredos', 'Navas De Buitrago', 'Niva', 'No Indica', 'Noblejas', 'Numancia De La Sagra', 'Ocana', 'Oiartzun', 'Oirartzun', 'Olesa De Montserrat', 'Olias Del Rey', 'Ontigola', 'Ontinyent', 'Orgaz', 'Otero De Herreros', 'Oviedo', 'Palazuelos De Eresma', 'Palencia', 'Palma', 'Palma Mallorca', 'Pamplona', 'Pantoja', 'Paracuellos Del Jarama', 'Paracuellos Jarama', 'Paredes De Escalona', 'Parla', 'Paterna', 'Pedrezuela', 'Pelahustan', 'Pepino', 'Petrer', 'Pinoso', 'Pinto', 'Pioz', 'Plasencia', 'Polan', 'Portillo De Toledo', 'Portosin', 'Portugal', 'Pozuelo Alarcon', 'Pozuelo De Alarcon', 'Puebla De Almoradiel', 'Pueblanueva', 'Puertollano', 'Queluz - Lisboa', 'Quero', 'Quijorna', 'Quintanar De La Orden', 'Quintanar Del Rey', 'Quismondo', 'Recajo', 'Recas', 'Renedo De Esgueva', 'Riaza', 'Rivas - Vaciamadrid', 'Rivas Vaciamadrid', 'Robledo De Chavela', 'Rota', 'S. Lorenzo El Escorial', 'S. Martin De La Vega', 'S. Pablo De Los Montes', 'S.Sebastian De Los Reyes', 'Sabadell', 'Salamanca', 'San Agustin De Guadalix', 'San Agustin De Guadallix', 'San Agustin Del Guadalix', 'San Andres Del Rabanedo', 'San Antonio De Berangeber,', 'San Fdo De Henares', 'San Fdo. Henares', 'San Fernando De Henares', 'San Ildefonso', 'San Lorenzo De El Escorial', 'San Martin De La Vega', 'San Martin De La Vega 28330', 'San Martin De Montalban', 'San Rafael', 'San S.De Los Reyes', 'San Sebastian', 'San Sebastian De Los Reyes', 'San Vicente Del Raspeig', 'Sant Cugat Del Valles', 'Sant Esteve De Palautordera', 'Sant Pere De Ribes', 'Santa Coloma De Gramanet', 'Santa Cruz De La Zarza', 'Santa Cruz De Tenerife', 'Santa Cruz Retamar', 'Santa Maria De Benquerencia', 'Santa Marta De Tormes', 'Santander', 'Santiago De Cartes', 'Sarriguren', 'Segurilla', 'Senorio De Illescas', 'Senorio Illescas', 'Serranillos Del Valle', 'Sesena', 'Sesena ( El Quinon )', 'Sesena Viejo', 'Seva', 'Sin Datos', 'Soller', 'Somosaguas - Pozuelo', 'Sonseca', 'Sotillo De La Adrada', 'Soto Del Real', 'Sotos', 'Ss De Los Reyes', 'Sta.Cruz Retamar', 'Talamanca Del Jarama', 'Talavera', 'Talavera De La Reina', 'Taradell', 'Tarancon', 'Tarifa', 'Tarrasa', 'Tembleque', 'Terrassa', 'Toledo', 'Tomelloso', 'Torrejon De Ardoz', 'Torrejon De Ardoz.', 'Torrejon De La Calzada', 'Torrejon De Velasco', 'Torrejon Del Rey', 'Torrelodones', 'Torremontalbo', 'Torrente', 'Torres De La Alameda', 'Torrevieja', 'Torrijos', 'Tres Cantos', 'Trijueque', 'Trobajo Del Camino', 'Tudela', 'Turleque', 'Ugena', 'Urb.Monte Sion', 'Utebo', 'Vacarisses 08233,', 'Val De Santo Domingo', 'Valdeluz', 'Valdemarin', 'Valdemorillo', 'Valdemoro', 'Valdetorres Del Jarama', 'Valencia', 'Valladolid', 'Valle De Luena', 'Valle Trapaga', 'Vallecas', 'Vallecas (Madrid)', 'Valmojado', 'Vega - Gijon', 'Velilla De San Antonio', 'Ventas Con Pena Aguilera', 'Ventas De Retamosa', 'Venturada', 'Vic', 'Vigo', 'Vila Real', 'Viladecans', 'Vilanova Del Valles', 'Villa Del Prado', 'Villabilla', 'Villacanas', 'Villafranca De Los Caballeros', 'Villafranca Del Castillo', 'Villalba', 'Villalbilla', 'Villaluenga De La Sagra', 'Villamanta', 'Villamuelas', 'Villamuriel De Cerrato', 'Villanueva D Ela Canada', 'Villanueva De La Canada', 'Villanueva De Los Infantes', 'Villanueva De Santo Adriano', 'Villanueva Del Pardillo', 'Villarejo De Salvanes', 'Villarrobledo', 'Villaseca La Sagra', 'Villasequilla', 'Villaviciosa', 'Villaviciosa De Odon', 'Villodas', 'Vitoria ( Gasteiz )', 'Vitoria Gasteiz', 'Vizcaya', 'Yecla', 'Yeles', 'Yepes', 'Yuncler', 'Yunclillos', 'Yuncos', 'Yuncoss', 'Yunquera De Henares', 'Zaragoza', 'Zarzalejo']

### 2.4. Clasificaci칩n y transformaci칩n de variables

#### 2.4.1. Clasificar columna animal

In [ ]:
import re
import pandas as pd

PARENTESIS = re.compile(r"\(([^)]*)\)")

def clasificar_animal(nombre):
    if pd.isna(nombre) or str(nombre).strip() == "":
        return "perro"

    texto = str(nombre)

    # Buscar dentro de par칠ntesis
    for contenido in PARENTESIS.findall(texto):
        cont = contenido.lower().strip()

        # gato/gata/gatito/gatita
        if re.search(r"\b(gato|gata|gatito|gatita)\b", cont, flags=re.I):
            return "gato"

    return "perro"

# Aplicar al DataFrame
df["tipo_animal"] = df["animal"].apply(clasificar_animal)

# Chequeo r치pido
print(df["tipo_animal"].value_counts())

tipo_animal
perro    2180
gato      147
Name: count, dtype: int64

In [ ]:
# Reordenar columnas
cols = df.columns.tolist()
cols.insert(cols.index('animal') + 1, cols.pop(cols.index('tipo_animal')))
df = df[cols]
df.head()

,ID,animal,tipo_animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible,a침o,fecha_europea
2,3,Zeta,perro,2012-11-24,Madrid,Madrid,Lucia,43,F,Piso,Jornada Completa,Baja,Adop,2-5H,2012,24/11/2012
3,4,Mia ( Gata ),gato,2012-12-06,Toledo,Toledo,Luis,20,M,Piso,Turno Rotativo,Media,Adop,2-5H,2012,06/12/2012
4,5,Agua,perro,2012-12-14,Galapagos,Guadalajara,Lucia,49,F,Casa/Chalet,Turno Rotativo,Baja,Adop,2-5H,2012,14/12/2012
5,6,Beda (Chispa ),perro,2012-12-20,Madrid,Madrid,Luis,20,M,Atico,Jornada Completa,Baja,No,2-5H,2012,20/12/2012
6,7,Bimbo,perro,2012-12-22,Vigo,Pontevedra,Laura,19,F,Casa/Chalet,Jornada Parcial (Tarde),Alta,No,2-5H,2012,22/12/2012

#### 2.4.2. Agrupar tiempo_disponible en rangos

In [ ]:
mapeo = {
    '<2h': '<12h',
    '2-5h': '25h',
    '>5h': '>5h'
}

# Aplicar mapeo directamente sobre la columna original
df['tiempo_disponible'] = df['tiempo_disponible'].str.strip().str.lower().map(mapeo)

In [ ]:
print(df['tiempo_disponible'].value_counts())

tiempo_disponible
25h     1643
>5h       464
<12h     220
Name: count, dtype: int64

#### 2.4.3. Distribuci칩n por tipo de vivienda

In [ ]:
# Conteo con frecuencia y porcentaje
vivienda_counts = df['vivienda'].value_counts(dropna=False)
vivienda_percent = df['vivienda'].value_counts(normalize=True, dropna=False) * 100

vivienda_summary = pd.DataFrame({
    'Frecuencia': vivienda_counts,
    'Porcentaje (%)': vivienda_percent.round(2)
})

display(vivienda_summary)

                     Frecuencia  Porcentaje (%)
vivienda
Piso                       1344           57.76
Casa/Chalet                 554           23.81
Atico                       251           10.79
Vivienda Compartida         177            7.61
Piso Compartido               1            0.04

In [ ]:
# Sustituir 'Vivienda Compartida' y 'Piso compartido' en la columna original
df['vivienda'] = df['vivienda'].replace({
    'Vivienda Compartida': 'Vivienda compartida',
    'Piso compartido': 'Vivienda compartida',
    'Piso Compartido': 'Vivienda compartida'
})

# Calcular las frecuencias y porcentajes de la columna ya unificada
vivienda_counts = df['vivienda'].value_counts(dropna=False)
vivienda_percent = df['vivienda'].value_counts(normalize=True, dropna=False) * 100

# Construir el DataFrame resumen
vivienda_summary = pd.DataFrame({
    'Frecuencia': vivienda_counts,
    'Porcentaje (%)': vivienda_percent.round(2)
})

display(vivienda_summary)

                     Frecuencia  Porcentaje (%)
vivienda
Piso                       1344           57.76
Casa/Chalet                 554           23.81
Atico                       251           10.79
Vivienda compartida         178            7.65

### 2.4.4. Agrupar rangos de edad

In [ ]:
# Columna 'edad' en formato num칠rico
df.loc[:, "edad"] = pd.to_numeric(df["edad"], errors="coerce")

# Crear rangos de edad
bins = [17, 24, 34, 44, 54, 64, float("inf")]
labels = ["1824", "2534", "3544", "4554", "5564", "65+"]

# Asignar cada edad a un grupo
df.loc[:,"grupo_edad"] = pd.cut(df["edad"], bins=bins, labels=labels, right=True, include_lowest=True)

df['grupo_edad'].value_counts().sort_index()

grupo_edad
1824    363
2534    734
3544    705
4554    340
5564    185
65+        0
Name: count, dtype: int64

#### 2.4.5. Distribuci칩n por horario laboral

In [ ]:
# Conteo de categor칤as en variables clave
columnas = ['horario_laboral']

for col in columnas:
    print(f"\n游늵 Distribuci칩n de '{col}':")
    print(df[col].value_counts(dropna=False))

游늵 Distribuci칩n de 'horario_laboral':
horario_laboral
Jornada Completa            1381
Turno Rotativo               324
Jornada Parcial (Tarde)      263
Jornada Parcial (Manana)     225
Sin Empleo                   128
Jornada Rotativa               3
Jornada Parcial                3
Name: count, dtype: int64

#### 2.4.6. Normalizar genero

In [ ]:
def normalizar_genero(valor):
    valor = str(valor).strip().lower()

    if valor in ['m', 'masculino', 'hombre']:
        return 'Hombre'
    elif valor in ['f', 'femenino', 'mujer']:
        return 'Mujer'
    else:
        return 'Otro'

df.loc[:, 'genero'] = df['genero'].apply(normalizar_genero)

In [ ]:
df['genero'].value_counts()

genero
Mujer     1227
Hombre    1044
Otro        56
Name: count, dtype: int64

In [ ]:
df[df['genero'] == 'Otro']

,ID,animal,tipo_animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible,a침o,fecha_europea,grupo_edad
2016,2017,Chay,perro,2011-01-12,Alcala De Henares,Madrid,NaN,30,Otro,Piso,Jornada Completa,Media,X,25h,2011,12/01/2011,2534
2017,2018,Cuca,perro,2010-01-05,Fuenlabrada,Madrid,NaN,27,Otro,Piso,Jornada Parcial (Manana),Alta,X,>5h,2010,05/01/2010,2534
2020,2021,Pipin,perro,2012-01-02,Alcorcon,Madrid,NaN,38,Otro,Piso,Jornada Completa,Media,X,>5h,2012,02/01/2012,3544
2021,2022,Silver,perro,2011-01-09,Mostoles,Madrid,NaN,53,Otro,Piso,Jornada Completa,Baja,X,<12h,2011,09/01/2011,4554
2027,2028,Sombra,perro,2013-09-01,Toledo,Toledo,Apao,56,Otro,Vivienda compartida,Jornada Completa,Alta,X,25h,2013,01/09/2013,5564
2028,2029,Romi,perro,2012-09-01,Sesena,Toledo,Apao,56,Otro,Piso,Jornada Completa,Media,X,>5h,2012,01/09/2012,5564
2032,2033,Moon,perro,2011-01-01,Alcorcon,Madrid,Torre,37,Otro,Piso,Jornada Parcial (Tarde),Media,Adop,>5h,2011,01/01/2011,3544
2036,2037,Zazu,perro,2013-07-22,Sesena,Toledo,NaN,21,Otro,Casa/Chalet,Jornada Parcial (Manana),Baja,X,>5h,2013,22/07/2013,1824
2041,2042,Vilma,perro,2013-01-08,Illescas,Toledo,Gaci,24,Otro,Piso,Jornada Completa,Media,Si,>5h,2013,08/01/2013,1824
2042,2043,Alfil,perro,2014-01-05,Illescas,Toledo,Levrier Italia - Gallia,27,Otro,Vivienda compartida,Jornada Parcial (Tarde),Media,NaN,>5h,2014,05/01/2014,2534
2047,2048,Siro,perro,2015-10-29,Getafe,Madrid,Italia Gaia,26,Otro,Casa/Chalet,Jornada Parcial (Tarde),Media,NaN,>5h,2015,29/10/2015,2534
2048,2049,Bonnie,perro,2014-03-11,Fuenlabrada,Madrid,Italia Gaia,35,Otro,Piso,Turno Rotativo,Media,NaN,25h,2014,11/03/2014,3544
2085,2086,Ina,perro,2012-04-26,Getafe,Madrid,A - Juncal Indurain,45,Otro,Casa/Chalet,Jornada Completa,Media,Adop,25h,2012,26/04/2012,4554
2108,2109,Okupa / Milu,perro,2012-01-08,Mostoles,Madrid,NaN,37,Otro,Piso,Turno Rotativo,Baja,Si,<12h,2012,08/01/2012,3544
2113,2114,Rana (Duna),perro,2012-01-03,Getafe,Madrid,A- Adoptamics(Germany),26,Otro,Piso,Jornada Parcial (Tarde),Baja,Adop,25h,2012,03/01/2012,2534
2118,2119,Sugar,perro,2011-01-12,Mostoles,Madrid,A - Violant Estrada,36,Otro,Vivienda compartida,Jornada Parcial (Tarde),Media,Adop,25h,2011,12/01/2011,3544
2196,2197,Jaku,perro,2013-05-01,Fuenlabrada,Madrid,Ryt,33,Otro,Casa/Chalet,Turno Rotativo,Media,Adop,25h,2013,01/05/2013,2534
2222,2223,Lisa,perro,2014-10-01,Getafe,Madrid,Banco,34,Otro,Casa/Chalet,Turno Rotativo,Media,Adop,25h,2014,01/10/2014,2534
2291,2292,Javi,perro,2016-05-20,Getafe,Madrid,Gallia,44,Otro,Piso,Jornada Completa,Media,Adop,>5h,2016,20/05/2016,3544
2302,2303,Vega,perro,2013-02-10,Yuncos,Toledo,Galgoastur,37,Otro,Piso,Jornada Completa,Alta,Adop,25h,2013,10/02/2013,3544
2304,2305,Clyde,perro,2013-06-05,Getafe,Madrid,Benjamin Mehnert,39,Otro,Piso,Turno Rotativo,Media,Adop,25h,2013,05/06/2013,3544
2305,2306,Lex,perro,2014-07-20,Alcala De Henares,Madrid,Benjamin Mehnert,33,Otro,Casa/Chalet,Jornada Parcial (Tarde),Baja,Adop,25h,2014,20/07/2014,2534
2308,2309,Picadilly,perro,2013-09-20,Toledo,Toledo,Huellas Puertollano,31,Otro,Casa/Chalet,Jornada Parcial (Manana),Alta,Si,25h,2013,20/09/2013,2534
2309,2310,Enzo(Lucero),perro,2013-07-05,Leganes,Madrid,Huellas Puertollano,40,Otro,Casa/Chalet,Jornada Completa,Alta,Adop,25h,2013,05/07/2013,3544
2310,2311,Morgan,perro,2014-02-20,Talavera De La Reina,Toledo,Huellas Puertollano,34,Otro,Casa/Chalet,Jornada Completa,Media,Adop,>5h,2014,20/02/2014,2534
2311,2312,Sherlock,perro,2015-03-20,Illescas,Toledo,Huellas Puertollano,42,Otro,Casa/Chalet,Jornada Completa,Media,Si,25h,2015,20/03/2015,3544
2316,2317,Pangea,perro,2016-10-29,Getafe,Madrid,Santuario Sevilla,58,Otro,Piso,Jornada Parcial (Tarde),Baja,Adop,25h,2016,29/10/2016,5564
2331,2332,Orion,perro,2016-09-06,Fuenlabrada,Madrid,Gallia,34,Otro,Atico,Sin Empleo,Media,Adop,25h,2016,06/09/2016,2534
2337,2338,Darth Vader,perro,2014-12-17,Fuenlabrada,Madrid,Gallia,50,Otro,Casa/Chalet,Turno Rotativo,Media,Adop,25h,2014,17/12/2014,4554
2345,2346,Brooklyn,perro,2015-08-25,Alcorcon,Madrid,Gallia,20,Otro,Casa/Chalet,Jornada Parcial (Tarde),Baja,Adop,25h,2015,25/08/2015,1824
2356,2357,Sissi,perro,2015-03-08,Leganes,Madrid,Gallia,39,Otro,Piso,Jornada Completa,Alta,Adop,25h,2015,08/03/2015,3544
2357,2358,Atenea,perro,2013-10-25,Fuenlabrada,Madrid,Gallia,21,Otro,Atico,Jornada Parcial (Tarde),Alta,Adop,25h,2013,25/10/2013,1824
2360,2361,Halley,perro,2013-10-16,Mostoles,Madrid,NaN,20,Otro,Piso,Jornada Completa,Alta,Adop,25h,2013,16/10/2013,1824
2370,2371,Puzzle,perro,2015-07-17,Mostoles,Madrid,Huellas Puertollano,24,Otro,Casa/Chalet,Jornada Completa,Alta,Adop,25h,2015,17/07/2015,1824
2371,2372,Dakota,perro,2016-06-16,Leganes,Madrid,Huellas Puertollano,59,Otro,Piso,Jornada Completa,Media,Adop,<12h,2016,16/06/2016,5564
2373,2374,Charlie,perro,2015-07-07,Leganes,Madrid,Huellas Puertollano,37,Otro,Piso,Turno Rotativo,Media,Adop,25h,2015,07/07/2015,3544
2374,2375,Luke Sky,perro,2015-07-14,Mostoles,Madrid,Huellas Puertollano,58,Otro,Casa/Chalet,Turno Rotativo,Media,Adop,<12h,2015,14/07/2015,5564
2375,2376,Dulce,perro,2013-03-22,Illescas,Toledo,Huellas Puertollano,27,Otro,Piso,Jornada Completa,Baja,Adop,>5h,2013,22/03/2013,2534
2380,2381,Clarirrubi,perro,2013-02-10,Alcala De Henares,Madrid,Italia Gaia,58,Otro,Casa/Chalet,Sin Empleo,Baja,Adop,25h,2013,10/02/2013,5564
2381,2382,Leonidas,perro,2016-06-14,Leganes,Madrid,Italia Gaia,23,Otro,Casa/Chalet,Jornada Completa,Alta,Adop,25h,2016,14/06/2016,1824
2382,2383,Runi,perro,2012-01-01,Alcala De Henares,Madrid,NaN,26,Otro,Casa/Chalet,Jornada Completa,Alta,Adop,>5h,2012,01/01/2012,2534
2385,2386,Suso,perro,2012-01-01,Yuncos,Toledo,Usa Gsp Rercue New Jersey,43,Otro,Piso,Jornada Parcial (Manana),Baja,Adop,25h,2012,01/01/2012,3544
2393,2394,Darwin,perro,2015-11-15,Alcala De Henares,Madrid,Puertollano,28,Otro,Piso,Turno Rotativo,Baja,Adop,25h,2015,15/11/2015,2534
2395,2396,Capucino,perro,2014-11-01,Alcala De Henares,Madrid,Puertollano,35,Otro,Piso,Jornada Parcial (Manana),Baja,Adop,>5h,2014,01/11/2014,3544
2396,2397,Ronaldo/Baron,perro,2011-06-10,Alcala De Henares,Madrid,Puertollano,28,Otro,Casa/Chalet,Jornada Completa,Baja,Adop,25h,2011,10/06/2011,2534
2397,2398,Conguito,perro,2017-09-17,Getafe,Madrid,Puertollano,26,Otro,Piso,Jornada Parcial (Tarde),Alta,Adop,25h,2017,17/09/2017,2534
2425,2426,Wisper,perro,2013-09-09,Getafe,Madrid,Cesion Ayudando,32,Otro,Vivienda compartida,Jornada Parcial (Tarde),Baja,Adop,>5h,2013,09/09/2013,2534
2426,2427,Savana,perro,2010-01-26,Talavera De La Reina,Toledo,Cesion Ayudando,33,Otro,Piso,Turno Rotativo,Media,Adop,25h,2010,26/01/2010,2534
2427,2428,Romi (Gato),gato,2012-10-02,Alcorcon,Madrid,Cesion Ayudando,39,Otro,Piso,Jornada Completa,Baja,Adop,25h,2012,02/10/2012,3544
2428,2429,Tanna,perro,2014-11-10,Getafe,Madrid,Cesion Ayudando,22,Otro,Piso,Jornada Completa,Baja,Adop,25h,2014,10/11/2014,1824
2429,2430,Valo,perro,2012-09-04,Getafe,Madrid,Cesion Ayudando,44,Otro,Piso,Turno Rotativo,Media,Adop,>5h,2012,04/09/2012,3544
2430,2431,Simeon,perro,2014-05-05,Talavera De La Reina,Toledo,Cesion Ayudando,33,Otro,Piso,Sin Empleo,Alta,Adop,25h,2014,05/05/2014,2534
2433,2434,Flaqui (Gato),gato,2012-11-02,Leganes,Madrid,Cesion Ayudando,36,Otro,Piso,Jornada Completa,Media,Si,25h,2012,02/11/2012,3544
2434,2435,Chester Galgo,perro,2016-02-02,Toledo,Toledo,Yulaska,19,Otro,Casa/Chalet,Jornada Completa,Baja,Adop,25h,2016,02/02/2016,1824
2442,2443,Turco,perro,2010-11-11,Mostoles,Madrid,Picochaparral,57,Otro,Atico,Jornada Completa,Media,NaN,25h,2010,11/11/2010,5564
2443,2444,Athos,perro,2013-08-01,Mostoles,Madrid,Pico Chaparral,31,Otro,Piso,Jornada Parcial (Tarde),Media,Si,>5h,2013,01/08/2013,2534

Nota: La categor칤a "Otro" suele representar cesiones a otras protectoras o filas sin nombre del adoptante.

#### 2.4.7. Distribuci칩n por experiencia_animales

In [ ]:
df['experiencia_animales'].value_counts()

experiencia_animales
Media    958
Alta     855
Baja     513
Name: count, dtype: int64

#### 2.4.8. Normalizar variables de adopci칩n (devuelto)

In [ ]:
def normalizar_devuelto(valor):
    valor = str(valor).strip().lower()
    if valor in ['dev', 's칤', 'si']:
        return 'si'
    elif valor in ['adop', 'no']:
        return 'no'
    else:
        return 'otro'

# Aplicar al dataframe
df.loc[:,'devuelto'] = df['devuelto'].apply(normalizar_devuelto)

In [ ]:
df['devuelto'].value_counts()

devuelto
no      2091
si       211
otro      25
Name: count, dtype: int64

In [ ]:
df[df['devuelto'] == 'otro']

,ID,animal,tipo_animal,fecha,poblacion,provincia,nombre,edad,genero,vivienda,horario_laboral,experiencia_animales,devuelto,tiempo_disponible,a침o,fecha_europea,grupo_edad
2016,2017,Chay,perro,2011-01-12,Alcala De Henares,Madrid,NaN,30,Otro,Piso,Jornada Completa,Media,otro,25h,2011,12/01/2011,2534
2017,2018,Cuca,perro,2010-01-05,Fuenlabrada,Madrid,NaN,27,Otro,Piso,Jornada Parcial (Manana),Alta,otro,>5h,2010,05/01/2010,2534
2019,2020,Nuka,perro,2011-01-10,Leganes,Madrid,A - Teresa San Jose,19,Mujer,Piso,Jornada Parcial (Manana),Media,otro,25h,2011,10/01/2011,1824
2020,2021,Pipin,perro,2012-01-02,Alcorcon,Madrid,NaN,38,Otro,Piso,Jornada Completa,Media,otro,>5h,2012,02/01/2012,3544
2021,2022,Silver,perro,2011-01-09,Mostoles,Madrid,NaN,53,Otro,Piso,Jornada Completa,Baja,otro,<12h,2011,09/01/2011,4554
2023,2024,Sultan,perro,2010-01-04,Getafe,Madrid,Tamara Y Ruth,51,Mujer,Casa/Chalet,Turno Rotativo,Media,otro,25h,2010,04/01/2010,4554
2024,2025,Venus M,perro,2013-04-01,Alcorcon,Madrid,A- Pilar,20,Mujer,Piso,Sin Empleo,Media,otro,25h,2013,01/04/2013,1824
2025,2026,Vito,perro,2013-04-01,Mostoles,Madrid,Graci,58,Mujer,Casa/Chalet,Jornada Completa,Alta,otro,25h,2013,01/04/2013,5564
2027,2028,Sombra,perro,2013-09-01,Toledo,Toledo,Apao,56,Otro,Vivienda compartida,Jornada Completa,Alta,otro,25h,2013,01/09/2013,5564
2028,2029,Romi,perro,2012-09-01,Sesena,Toledo,Apao,56,Otro,Piso,Jornada Completa,Media,otro,>5h,2012,01/09/2012,5564
2036,2037,Zazu,perro,2013-07-22,Sesena,Toledo,NaN,21,Otro,Casa/Chalet,Jornada Parcial (Manana),Baja,otro,>5h,2013,22/07/2013,1824
2037,2038,Zoser,perro,2012-01-01,Fuenlabrada,Madrid,A- Juan Carlos Mengual,27,Hombre,Atico,Jornada Completa,Media,otro,25h,2012,01/01/2012,2534
2038,2039,Sky,perro,2014-10-10,Alcala De Henares,Madrid,Vanesa,24,Mujer,Piso,Jornada Completa,Alta,otro,>5h,2014,10/10/2014,1824
2039,2040,Coco,perro,2010-01-01,Fuenlabrada,Madrid,Maria,42,Mujer,Casa/Chalet,Jornada Completa,Media,otro,>5h,2010,01/01/2010,3544
2042,2043,Alfil,perro,2014-01-05,Illescas,Toledo,Levrier Italia - Gallia,27,Otro,Vivienda compartida,Jornada Parcial (Tarde),Media,otro,>5h,2014,05/01/2014,2534
2047,2048,Siro,perro,2015-10-29,Getafe,Madrid,Italia Gaia,26,Otro,Casa/Chalet,Jornada Parcial (Tarde),Media,otro,>5h,2015,29/10/2015,2534
2048,2049,Bonnie,perro,2014-03-11,Fuenlabrada,Madrid,Italia Gaia,35,Otro,Piso,Turno Rotativo,Media,otro,25h,2014,11/03/2014,3544
2439,2440,Michi (Gato),gato,2015-04-24,Alcorcon,Madrid,Raquel Moreno,26,Mujer,Casa/Chalet,Jornada Parcial (Tarde),Media,otro,25h,2015,24/04/2015,2534
2440,2441,Rison (Gato),gato,2014-03-29,Sesena,Toledo,Susy,38,Mujer,Casa/Chalet,Jornada Parcial (Manana),Alta,otro,25h,2014,29/03/2014,3544
2441,2442,Sam,perro,2012-02-01,Yuncos,Toledo,Rocio,39,Mujer,Piso,Jornada Completa,Media,otro,25h,2012,01/02/2012,3544
2442,2443,Turco,perro,2010-11-11,Mostoles,Madrid,Picochaparral,57,Otro,Atico,Jornada Completa,Media,otro,25h,2010,11/11/2010,5564
2445,2446,Maruxa,perro,2017-05-20,Mostoles,Madrid,Silvia Careas,29,Mujer,Casa/Chalet,Jornada Completa,Media,otro,25h,2017,20/05/2017,2534
2446,2447,Paula,perro,2012-08-01,Leganes,Madrid,Carmen,38,Mujer,Piso,Jornada Parcial (Tarde),Media,otro,<12h,2012,01/08/2012,3544
2447,2448,Aritza,perro,2016-10-30,Alcorcon,Madrid,Tam,55,Mujer,Atico,Jornada Completa,Alta,otro,25h,2016,30/10/2016,5564
2448,2449,Yen,perro,2017-04-01,Sesena,Toledo,Tam,30,Mujer,Casa/Chalet,Jornada Completa,Alta,otro,25h,2017,01/04/2017,2534

Se normaliz칩 la columna `devuelto` agrupando respuestas como "s칤", "dev" y "si" bajo `s칤`, y "no", "adop" bajo `no`. Las respuestas no clasificables se etiquetan como `otro`, y pueden excluirse.

### 2.5. Revisi칩n final

In [ ]:
# Verificar si quedan valores nulos
print(df.isnull().sum())

ID                      0
animal                  0
tipo_animal             0
fecha                   0
poblacion               0
provincia               0
nombre                  8
edad                    0
genero                  0
vivienda                0
horario_laboral         0
experiencia_animales    1
devuelto                0
tiempo_disponible       0
a침o                     0
fecha_europea           0
grupo_edad              0
dtype: int64

In [ ]:
# Normalizar la columna a texto para buscar '0' y valores vac칤os en 'nombre'
col_exp = df['nombre'].astype(str).str.strip()

# Filtrar filas (NaN/""/None)
filas_exp_cero = df[(col_exp == '0') | (df['nombre'].isna())]

print("Filas con valor 0 o nulo en nombre:", len(filas_exp_cero))
print(filas_exp_cero[['animal','tipo_animal', 'nombre', 'experiencia_animales', 'genero', 'devuelto']])

Filas con valor 0 o nulo en nombre: 8
            animal tipo_animal nombre experiencia_animales genero devuelto
2016          Chay       perro    NaN                Media   Otro     otro
2017          Cuca       perro    NaN                 Alta   Otro     otro
2020         Pipin       perro    NaN                Media   Otro     otro
2021        Silver       perro    NaN                 Baja   Otro     otro
2036          Zazu       perro    NaN                 Baja   Otro     otro
2108  Okupa / Milu       perro    NaN                 Baja   Otro       si
2360        Halley       perro    NaN                 Alta   Otro       no
2382          Runi       perro    NaN                 Alta   Otro       no

In [ ]:
# Eliminar filas con valores nulos en la columna 'nombre'
df = df.dropna(subset=['nombre']).reset_index(drop=True)

In [ ]:
# Normalizar la columna a texto para buscar '0' y valores vac칤os en 'experiencia_animales'
col_exp = df['experiencia_animales'].astype(str).str.strip()

# Filtrar filas (NaN/""/None)
filas_exp_cero = df[(col_exp == '0') | (df['experiencia_animales'].isna())]

print("Filas con valor 0 o nulo en experiencia_animales:", len(filas_exp_cero))
print(filas_exp_cero[['animal', 'experiencia_animales', 'genero', 'devuelto']])

Filas con valor 0 o nulo en experiencia_animales: 1
              animal experiencia_animales genero devuelto
1999  Marieta (Gata)                  NaN  Mujer       no

In [ ]:
# Sustituir los valores NaN en experiencia_animales por 'baja'
df['experiencia_animales'] = df['experiencia_animales'].fillna('baja')

Las filas en las que el campo 'nombre' aparece vac칤o se han eliminado del an치lisis, ya que sin el nombre del adoptante no es posible inferir con fiabilidad el g칠nero, variable que considero clave en este estudio. Adem치s, estos registros representan 칰nicamente 8 casos, por lo que su exclusi칩n no afecta de manera significativa a los resultados finales.

In [ ]:
# Verificar si quedan valores nulos
print(df.isnull().sum())

ID                      0
animal                  0
tipo_animal             0
fecha                   0
poblacion               0
provincia               0
nombre                  0
edad                    0
genero                  0
vivienda                0
horario_laboral         0
experiencia_animales    0
devuelto                0
tiempo_disponible       0
a침o                     0
fecha_europea           0
grupo_edad              0
dtype: int64

## 3. Guardar dataset limpio

In [ ]:
# Guardar dataset limpio
ruta_guardado = "/content/drive/MyDrive/Dataset_TFM/datos_adopciones_limpio_test.xlsx"

# Exportar a Excel
df.to_excel(ruta_guardado, index=False)

print(f"Dataset guardado correctamente en: {ruta_guardado}")

Dataset guardado correctamente en: /content/drive/MyDrive/Dataset_TFM/datos_adopciones_limpio_test.xlsx